{% extends "layout.html" %}
{% block title %}Upload File{% endblock %}
{% block head %}
  {{ super() }} 
 <style type="text/css">
  	h1{
  		color: red;
  		text-align: center;
  	}

  	li.li{
  		 font-weight: bold;
  	}

  	input{
  		background-color: #008CBA;
  		border-radius: 25px;
  		color : #ffffff;
  		width: 150px;
  	}

  	.div_checkmissing {
  		margin-left: 50px;
  	}
  	.div_duplicate{
		margin-left: 50px;
  	}
  	.div_dropna{
  		margin-left: 50px;
  	}

  	.select_class{ 
  		margin-left:250px;
  		margin-top: 7px;
  		position: absolute; 
  	}
  	.div_tittle{
  		position: relative; 
  		margin-bottom: 10px;

  	}

  	h3{ 
  		position: absolute; 
  	}
  	form{
  		margin-bottom: 10px;
  	}
 	
 	p.size{
		margin-left:450px;
  		padding-top: 7px;
  		font-weight: bold; 
 	}
 	p{
 		margin-left: 50px;
 	}

 	table, th, td {
    border: 1px solid black;
	}

	div.div_noiseData{
		position: relative;  
	}
	div.char{ 
		position: absolute; 
		left: 200px;
	}
  </style>
{% endblock %}
 



{% block content  %}

<h1 >Pre Processing Data</h1>

<div class="div_tittle">
	<h3>Columns Names</h3> 
	<select name="column_name" width="300px" class="select_class">
	        {% for o in list_column_name %}
	            <option name="{{ o }}" SELECTED>{{ o }}          
	            </option>
	        {%endfor%}
	</select> 
	<p class="size">Kích thước: {{shape}}</p>
</div>

<ul>
	<!-- Missing Data	 -->
	<li class="li">Missing Data</li> 
		<div class="div_checkmissing"> 
			<form action="{{ url_for('check_missing')}}", method="POST">  
		    	<input type="submit" name="check_missing" value="Ckeck Missing" />
		    	<p >Kích thước: <span style="font-weight: bold;">{{shape}}<span></p>
		    
			    	<table border = 1>
			    	 	<tr>
				               <th>Columns Name</th>
				               <th>Quanlity of Missing Data</th>
				            </tr>
			    		{% for key, value in dic_column_missing.items() %}
	         
				            <tr>
				               <td> {{ key }} </td>
				               <td align="center"> {{ value }} </td>
				            </tr>
	            
	         			{% endfor %}
	 				</table> 
 				
		    </form>
 
		    <form  action="{{ url_for('remove_missing')}}", method="POST" > 
		    	<input style="background-color: #FA5858;" type="submit" name="remove_missing" value="Remove Missing" />
		    	<p>{{aler}}</p>
		    	<p>{{aler2}} <span style="font-weight: bold;">{{shape}}</span></p>
		    	 
 				</table>
		    </form> 
		</div> 
 

 <!-- Noise Data	 -->
	<li class="li">Noise Data</li> 
		<div class="div_checkmissing"> 
			<form action="{{url_for('check_noise')}}", method="POST">  
		    	<input type="submit" name="check_noise" value="Ckeck Noise" />
		    	<p >Kích thước: <span style="font-weight: bold;">{{shape}}<span></p>
		    	<p >Column Name: <span style="font-weight: bold;">{{shape}}<span></p>
		    	<div class="div_noiseData">
		    		<!-- <div class="char">
	 					 <img src= {{url}}  alt="Chart" height="900" width="600">
 					</div> -->
			    	 <table border = 1 class="Noise">
			    	 	<tr>
				               <th>Key</th>
				               <th>Values</th>
				            </tr> 
			    		 {% for key, value in dic_column_noise.items() %}
	         
				            <tr>
				               <td> {{ key }} </td>
				               <td align="center"> {{ value }} </td>
				            </tr>
	            
	         			{% endfor %}
	 				</table> 
	 				
				</div>
 				
		    </form>
 
		    <form  action="{{url_for('remove_noise')}}", method="POST" > 
		    	<input style="background-color: #FA5858;" type="submit" name="remove noise" value="Remove Noise" />
		    	<p>{{aler}}</p>
		    	<p>{{aler2}} <span style="font-weight: bold;">{{shape}}</span></p>
		    	 
 				</table>
		    </form> 
		</div> 

 	<li class="li">Save File</li> 
 	<div class="div_checkmissing"> 
			 <p>Lưu file data sau khi tiền xử lý: </p>
			 <form action="{{url_for('save_file')}}", method="POST"  >
				<input type="submit" value="Lưu File"
				 />
			</form>
	</div> 
</ul>
{% endblock %}