{% extends "layout.html" %}
{% block title %}Upload File{% endblock %}
{% block head %}
  {{ super() }} 
  <style type="text/css">
  	h1{
  		color: red;
  		text-align: center;
  	}

  	li.li{
  		 font-weight: bold;
  	}

  	input{
  		background-color: #008CBA;
  		border-radius: 25px;
  		color : #ffffff;
  		width: 150px;
  	}

  	textarea{
  		position: absolute; 
  		margin-left: 30px;
  		heigh: : 10px;
  	}

  	.div_checkmissing {
  		margin-left: 50px;
  	}
  	.div_duplicate{
		margin-left: 50px;
  	}
  	.div_dropna{
  		margin-left: 50px;
  	}

  	.select_class{ 
  		margin-left:250px;
  		margin-top: 7px;
  		position: absolute; 
  	}
  	.div_tittle{
  		margin-bottom: 10px;

  	}
  	h3{ 
  		position: absolute; 
  	}
  	form{
  		margin-bottom: 10px;
  	}
 	
 	p.size{
		margin-left:450px;
  		padding-top: 7px;
  		font-weight: bold; 
 	}

 	table{
 		margin-left: 50px;
 		margin-top: 10px;
 		margin-bottom: 40px; 
 	}

 	table, th, td {
    border: 1px solid black;
	}
 
  </style>
{% endblock %}
 
{% block content  %}


<h1 >Pre Processing Data</h1>

<div class="div_tittle">
	<h3>Columns Names</h3> 
	<select name="column_name" width="300px" class="select_class">
	        {% for o in list_column_name %}
	            <option name="{{ o }}" SELECTED>{{ o }}          
	            </option>
	        {%endfor%}
	</select> 
	<p class="size">Kích thước: {{shape}}</p>
</div>

<ul>
	<!-- Missing Data	 -->
	<li class="li">Missing Data</li> 
		<div class="div_checkmissing"> 
			<form action="{{ url_for('check_missing')}}", method="POST">  
		    	<input type="submit" name="check_missing" value="Ckeck Missing" />
		    	 <table border = 1>
		    	 	<tr>
			               <th>Columns Name</th>
			               <th>Quanlity of Missing Data</th>
			            </tr>
		    		{% for key, value in dic_column_missing.items() %}
         
			            <tr>
			               <td> {{ key }} </td>
			               <td align="center"> {{ value }} </td>
			            </tr>
            
         			{% endfor %}
 				</table>
		    	 
		    </form>
 
		    <form method="post"> 
		    	<input type="submit" name="remove_missing" value="Remove Missing" />
		    	<textarea  rows="1" cols="50"></textarea>
		    </form> 
		</div> 


	<!-- Duplicate Data	 -->
	<li class="li">Duplicate Data</li>
		<div class="div_duplicate"> 
			<form method="post"> 
		    	<br>
		    	<input type="submit" name="check_duplicate " value="Check Duplicate " />
		    	<textarea  rows="1" cols="50">Kết Quả:</textarea>
		    </form>

		    <form method="post"> 
		    	<input type="submit" name="remove_duplicate" value="Remove Duplicate " />
		    	<textarea  rows="1" cols="50">Kết Quả:</textarea>
		    </form> 
		</div>



	<!-- Drop NA -->
	<li class="li">Drop NA</li> 
		<div class="div_dropna"> 
			<form method="post"> 
		    	<br>
		    	<input type="submit" name="check_na " value="Check NA " />
		    	<textarea  rows="1" cols="50">Kết Quả:</textarea>
		    </form>

		    <form method="post"> 
		    	<input type="submit" name="remove_na" value="Remove NA " />
		    	<textarea  rows="1" cols="50">Kết Quả:</textarea>
		    </form> 
		</div> 
</ul>


{% endblock %}